.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: color 0.5s, background-color 0.7s, border 0.7s, transform 0.2s;

}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid rgb(50, 42, 42);
  background: rgba(0,0,0, .8);
  border-radius: 50px;
  backdrop-filter: blur(5px);
  /* max-width: 1100px;
  max-height: 600px; */
  width: 90vw;
  height: 90vh;
  padding: 25px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.popup__container {
  color: white;
}

.popup__inner-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup .top-side {
  justify-self: start;
  width: 100%;
  height: 40px;
}

.popup .top-side .close-popup {
  float: right;
  cursor: pointer;
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
}

.popup__title {
  font-size: 45px;
  font-weight: 800;
  margin: 1% 0 3% 27%;
}
.popup__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.popup-content__description {
  width: 95%;
  text-align: center;
  margin-left: 3%;
  margin-top: 1%;
}
.description__text {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.popup-content__images {
  height: 260px;
  display: flex;
  width: fit-content;
  align-self: center;
  margin: 20% 0 0 0;
  gap: 20px;
}

.popup-content__images>img{

}
.popup-slider img {
  height: 50vh;
  width: 100% ;
}
