.print-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 0 1%;
}

.view-cloth {
  min-height: 480px;
  width: 100%;
  height: 100%;

  border: 2px solid black;
  background-color: white;

  margin: 5px;
}

.view-type {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 140px;
}

.front-side,
.back-side,
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  position: relative;

  max-width: 90px;
  max-height: 105px;

  padding: 3px;

  align-items: center;
  text-align: center;

  background-color: white;
  cursor: pointer;

  transition: all 0.3s ease;
}

.view-front-back,
.view-left-right {
  display: flex;
  gap: 5px;

  height: fit-content;

  align-items: center;
  border: 1px black solid;

  background-color: #F3F3F3;

  margin: 0 5px;
  padding: 3px;
}


.view-type p {
  height: fit-content;
  font-size: 13px;
  margin-top: auto;
  opacity: 1;
}

:is(.front-side, .back-side, .left-side, .right-side).hoverable:hover {
  z-index: 9999;
  transform: scale(110%);
  border: 1px black solid;
  cursor: pointer;
}


.front-side.hoverable:hover {
  margin-left: 8px;
  margin-bottom: 8px;
}
.back-side.hoverable:hover {
  margin-right: 8px;
  margin-bottom: 8px;
}
.left-side.hoverable:hover {
  margin-left: 8px;
  margin-bottom: 8px;
}
.right-side.hoverable:hover {
  margin-right: 8px;
  margin-bottom: 8px;
}


:is(.front-side, .back-side, .left-side, .right-side).hoverable:active {
  transform: scale(95%);
}

:is(.front-side, .back-side, .left-side, .right-side).active{
  cursor: default;
  background-color: black;
  color: #FFF;
}

